<form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Fájl neve</mat-label>
    <input type="text" formControlName="fileName" matInput placeholder="File Name">
  </mat-form-field>
  <div>
    <label for="file">Fájl kiválasztása</label>
    <input id="file" type="file" (change)="onFileSelected($event)">
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!fileForm.valid">Feltöltés</button>
</form>

<p *ngIf="fileForm.get('file')?.invalid && fileForm.get('file')?.touched">
  Fájl kiválasztása kötelező!
</p>
