<div class="file-list-container">
  <mat-card *ngFor="let file of files" class="file-card">
    <mat-card-header>
      <mat-card-title>{{ file.name }}</mat-card-title>
      <mat-card-subtitle>
        <div class="file-info">
          <span>Size: {{ file.size | fileSize }}</span>
          <span class="dot-separator">•</span>
          <span>Uploaded: {{ file.uploadDate ? (file.uploadDate | date:'yyyy.MM.dd HH:mm') : 'N/A' }}</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="description-text" *ngIf="file.description">{{ file.description }}</p>

      <div class="comment-section">
        <mat-form-field appearance="outline" class="comment-input">
          <mat-label>Write a comment</mat-label>
          <input matInput [(ngModel)]="newComments[file.id || '']" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="publishComment(file)">Publish</button>
      </div>

      <div class="comments" *ngIf="file.comments?.length">
        <mat-divider></mat-divider>
        <h4>Comments:</h4>
        <div *ngFor="let comment of file.comments" class="comment">
          <p><strong>{{ comment.author.username }}</strong>: {{ comment.content }}</p>
          <p class="comment-date">{{ comment.createdAt | date:'yyyy.MM.dd HH:mm' }}</p>
        </div>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end" class="action-buttons">
      <button mat-stroked-button color="accent" (click)="editFile(file)">Edit</button>
      <button mat-stroked-button color="warn" (click)="deleteFile(file)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
